
/* Marges entre les sections */
.activity_margin 		{ margin-bottom: 50px; } 	/* Activités principales */
.website_margin  		{ margin: 25px 0; } 		/* Sites internet */
.website_icon_margin 	{ margin-top: 18px; } 		/* Icones (Sites internet) */
.footer_margin 			{ margin: 30px 0; } 		/* Footer */

/* Marge bouton "En savoir plus" (Partie Site internet) */
.website_button_margin { margin: 20px 10px; }

/* Marge bouton "En savoir plus" (Partie Présentation) */
.presentation_button_margin { margin: 25px auto; }

/* Marge du logo */
.marge_logo { margin: 7px 0 0 25px; }

/* Marge bouton "En savoir plus" (Partie Site internet) */
.website_button_margin { margin: 20px 10px; }

/* Marge entre la barre fixe et le détail de la solution dans "Nos Solutions" */
.solutions_detail_margin { margin-top: 170px; }

/* Pour les grandes images dans "Nos Solutions" */
.padding20 { padding-bottom: 20px; padding-top: 20px; }

/* ================================== */
/*	Différents backgrounds / couleurs */
/* ================================== */

.offwhite_backgroundcolor   { background: #eeeeee; }
.footer_backgroundcolor     { background: #414547; }
.footer2_backgroundcolor    { background: #2b2e2f; }
.actuality_backgroundcolor  { background: #425469; }
.lightgray_backgroundcolor  { background: #f8f8f8; }

/* Background gris (pour les boutons) */
.grey { background-color: grey; }

/* Couleurs des textes */
.white_color { color: white;   }
.grey_color  { color: #777777; }
.blue_color  { color: #31a3dd; }

/* ======== */
/* Bannière */
/* ======== */
.banniere { background: url(WebContent/img/bandeau/bandeau3.png); }

/* ====== */
/* Autres */
/* ====== */

.display {
	display: none;
}

/* ============================= */
/* Différentes tailles de police */
/* ============================= */

.fontsize14 { font-size: 14px; }
.fontsize16 { font-size: 16px; }
.fontsize20 { font-size: 20px; }
.fontsize32 { font-size: 32px; }

.fontweight400 { font-weight: 400; }
.font-semibold { font-weight: 600; }

/* =================== */
/* Partie Présentation */
/* =================== */

.container { max-width: 1180px; margin: 0 auto; }

.service_icon { position : relative; top : -21px; margin-bottom : -21px; }

.bloc { float: left; outline: 2px solid #eeeeed; margin-top: 30px; z-index : 1; }

.bloc h3 { padding-top: 20px; font-size: 18px; }

.bloc p { font-size: 12px; }

.presentation { padding-top: 20px; }

.presentation h4 { font-size: 19px; }

.presentation p { font-size: 14px; margin-top: 15px; }

/* ================= */
/* Partie Actualités */
/* ================= */

.actu_title { padding-top: 15px; }

.annotation_wrap { margin: auto; position: relative; top: -30px; min-height: 30px; max-width: 275px; background: rgba(0, 0, 0, 0.5); }

.annotation_title { padding: 5px 0 0 10px; font-size: 13px; }

.actu { max-height: 200px; margin: auto; overflow: hidden; }

.actu:hover .hover_actu { top: -230px; }

.hover_actu { position: relative; background-color: rgba(49, 163, 221, 0.95); top: 0; height: 180px; transition: top 0.4s linear; }

.actu_overview { background: rgba(53, 149, 210, 0.6); position: relative; bottom: 184px; max-height: 180px; max-width: 275px; margin: auto; }

.overview_title { font-size: 15px; }

.overview_content { line-height: 20px; font-size: 14px; }

.activity_detail_button { position: relative; bottom: 5px; background: rgb(66, 84, 105); }

/* ==================== */
/* Partie Site Internet */
/* ==================== */

.site_title { font-size: 31px; }

.site_title strong { color: #3f96d2; }

.site_tooltip { margin: 20px 0 0 80px; text-align: left; padding: 0 0 0 15px; border: 1px solid #dddddd; }

.site_tooltip h5 { font-size: 20px; font-weight: bold; }

.site_tooltip p { margin-bottom: 10px; font-size: 14px; }

/* ============= */
/* Partie Footer */
/* ============= */

.footer_subtitle { margin-top: 9px; font-size: 21px; border-top: 3px solid #3f96d2; }

.footer_coordinates { text-align: center; }

.coordinates { text-align: left; padding: 50px 0 0 5px; font-size: 11px; }

.coordinates strong { color: white; font-size: 13px; }

/* =============== */
/* Dernière partie */
/* =============== */

.underfooter { font-size: 16px; margin-bottom: 5px; }

.copyright { font-size: 13px; margin: 10px 0; }

/* ==================== */
/* Page "Nos Solutions" */
/* ==================== */

.prestations { font-size: 21px; margin: 10px; }

/* Nos Solutions : centrer les petites images */
.center_solution_img { margin: 10px 0; }

.center_content_solution { text-align: center; margin: auto; }

#fixbar { position: relative; width: 100%; margin: 0 auto; z-index: 10000; top: 0; }

.detail_solution {
	position: relative;
	top: -40px;
	padding-top: 40px;
}

/* Vue intermédiaire */
@media only screen and (min-width: 480px) and (max-width: 678px) {
	.footer_coordinates {
		text-align: left;
	}
}
/* Vue intermédiaire */
@media only screen and (min-width: 678px) and (max-width: 1024px) {
}

/* Vue Desktop */
@media only screen and (min-width: 1024px) {
	.logo {
		margin-top: 0px;
	}

	.blue-band {
		height: 5px;
		background: #31a3dd;
	}

	.bloc {
		min-width: 250px;
		max-width: 350px;
		margin: 0 6px;
	}

	.site_tooltip {
		margin-bottom: 19px;
		margin-top: 0px;
	}

	.footer_coordinates {
		border-left: 3px solid #3f96d2;
	}

	.display {
		display: block;
	}
}